/build/output
/build/output_matching
/build/output_test
/build/tmp
/build/inspect
/build/inspect_graph
/diskroot

# Ignore game binary
1ST_READ.BIN

scripts/set_kt.sh
build/lnk.sub
build/lnk_matching.sub

/ghidra
/.env

.claude/settings.local.json

__pycache__/
