name: Build Matching

on: ['push', 'pull_request']

defaults:
  run:
    working-directory: /home/runner/work/tbg

jobs:
  build:
    name: Build Matching
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Checkout SDK
        uses: actions/checkout@v4
        with:
          ssh-key: ${{ secrets.SDK_REPO_KEY }}
          repository: lhsazevedo/dc-sdk-155j
          path: sdk

      # SDK doesn't like paths with slashes
      - name: Move files outside workspace
        working-directory: /home/runner/work
        run: cp -R $GITHUB_WORKSPACE tbg

      - name: Install wibo
        run: |
          wget -nv https://github.com/decompals/wibo/releases/latest/download/wibo-x86_64 -O wibo
          sudo mv wibo /usr/local/bin/wibo
          sudo chmod +x /usr/local/bin/wibo

      - name: Configure environment
        run: |
          DC_SDK=$PWD/sdk
          mkdir -p $PWD/build/tmp
          echo "SHINOBI_DIR=$(wibo path -w $DC_SDK/shinobi)" >> "$GITHUB_ENV"
          echo "KATANA_SDK_DIR=$(wibo path -w $DC_SDK)" >> "$GITHUB_ENV"
          echo "SHC_BIN=$(wibo path -w $DC_SDK/shc/bin)" >> "$GITHUB_ENV"
          echo "SHC_TMP=$(wibo path -w $PWD/build/tmp)" >> "$GITHUB_ENV"
          echo "SHC_LIB=$(wibo path -w $DC_SDK/shc/bin)" >> "$GITHUB_ENV"
          echo "SHC_INC=$(wibo path -w $DC_SDK/shc/include),$(wibo path -w $DC_SDK/shinobi/include)" >> "$GITHUB_ENV"

      - name: Build
        run: make -f Makefile.matching
